div p {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }
    .green {
    color: green;
    }

div h1 {
    font-family: Arial, Helvetica, sans-serif;
}